In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dirty_data_animals.csv',
           sep = ';')

In [3]:
display(data)
data_copy = data.copy()

,Animal type,Country,Weight kg,Body Length cm,Gender,Animal code,Latitude,Longitude,Animal name,Observation date,Data compiled by
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.01.2024,James Johnson
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.02.2024,James Johnson
2,European bison,Poland,930.000,335.0,male,NaN,52.828845,23.820144,Szefu,01.03.2024,Anne Anthony
3,European bison,Poland,909.000,311.0,not determined,NaN,52.830509,23.826849,NaN,01.03.2024,Anne Anthony
4,European bison™,Poland,581.000,277.0,female,NaN,52.834109,23.807093,NaN,01.03.2024,Anne Anthony
...,...,...,...,...,...,...,...,...,...,...,...
1006,red squirrel,Poland,0.346,20.0,female,NaN,52.212001,21.033187,Lola,7 May 2024,Anne Anthony
1007,hedgehog,Germany,1.000,23.0,female,NaN,49.561356,11.105334,NaN,7 May 2024,Bob Bobson
1008,hedgehog,Germany,0.500,17.0,female,NaN,49.561569,11.087046,NaN,7 May 2024,Bob Bobson
1009,red squirrel,Poland,0.346,20.0,female,NaN,52.212001,21.033187,Lola,7 May 2024,Anne Anthony
1010,hedgehog,Hungary,0.900,16.0,female,NaN,47.509860,18.939943,NaN,8 May 2024,Anne Anthony

In [4]:
data.head()

,Animal type,Country,Weight kg,Body Length cm,Gender,Animal code,Latitude,Longitude,Animal name,Observation date,Data compiled by
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.01.2024,James Johnson
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.02.2024,James Johnson
2,European bison,Poland,930.0,335.0,male,NaN,52.828845,23.820144,Szefu,01.03.2024,Anne Anthony
3,European bison,Poland,909.0,311.0,not determined,NaN,52.830509,23.826849,NaN,01.03.2024,Anne Anthony
4,European bison™,Poland,581.0,277.0,female,NaN,52.834109,23.807093,NaN,01.03.2024,Anne Anthony

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011 entries, 0 to 1010
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Animal type       991 non-null    object
 1   Country           999 non-null    object
 2   Weight kg         984 non-null    float64
 3   Body Length cm    984 non-null    float64
 4   Gender            992 non-null    object
 5   Animal code       0 non-null      float64
 6   Latitude          913 non-null    float64
 7   Longitude         913 non-null    float64
 8   Animal name       52 non-null     object
 9   Observation date  1011 non-null   object
 10  Data compiled by  1011 non-null   object
dtypes: float64(5), object(6)
memory usage: 87.0+ KB

In [6]:
data.drop(['Animal code'], axis =1, inplace=True)

In [7]:
data[data.duplicated()]

,Animal type,Country,Weight kg,Body Length cm,Gender,Latitude,Longitude,Animal name,Observation date,Data compiled by
51,red squirel,Poland,0.308,22.0,female,52.241273,21.055745,Basia,01.03.2024,Anne Anthony
52,red squirrel,PL,0.348,20.0,female,52.242060,21.057802,NaN,01.03.2024,Anne Anthony
53,red squirrel,Poland,0.316,20.0,male,52.240035,21.056188,Lolek,01.03.2024,Anne Anthony
54,red squirrel,Poland,0.340,21.0,NaN,52.240284,21.051948,NaN,01.03.2024,Anne Anthony
55,red squirrel,Poland,0.333,21.0,male,NaN,NaN,NaN,01.03.2024,Anne Anthony
...,...,...,...,...,...,...,...,...,...,...
988,red squirrel,Poland,0.317,19.0,female,52.212310,21.033586,Zuzia,4 May 2024,Anne Anthony
1002,red squirrel,Poland,0.301,22.0,male,52.212760,21.034189,NaN,6 May 2024,Anne Anthony
1003,red squirrel,Poland,0.343,22.0,male,52.212497,21.033515,NaN,6 May 2024,Anne Anthony
1004,red squirrel,Poland,0.307,20.0,female,52.212144,21.033534,NaN,6 May 2024,Anne Anthony
1009,red squirrel,Poland,0.346,20.0,female,52.212001,21.033187,Lola,7 May 2024,Anne Anthony

In [8]:
data.drop_duplicates(inplace=True)

In [9]:
data

,Animal type,Country,Weight kg,Body Length cm,Gender,Latitude,Longitude,Animal name,Observation date,Data compiled by
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.01.2024,James Johnson
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.02.2024,James Johnson
2,European bison,Poland,930.000,335.0,male,52.828845,23.820144,Szefu,01.03.2024,Anne Anthony
3,European bison,Poland,909.000,311.0,not determined,52.830509,23.826849,NaN,01.03.2024,Anne Anthony
4,European bison™,Poland,581.000,277.0,female,52.834109,23.807093,NaN,01.03.2024,Anne Anthony
...,...,...,...,...,...,...,...,...,...,...
1005,hedgehog,Hungary,0.900,23.0,male,47.510055,18.944356,NaN,7 May 2024,Anne Anthony
1006,red squirrel,Poland,0.346,20.0,female,52.212001,21.033187,Lola,7 May 2024,Anne Anthony
1007,hedgehog,Germany,1.000,23.0,female,49.561356,11.105334,NaN,7 May 2024,Bob Bobson
1008,hedgehog,Germany,0.500,17.0,female,49.561569,11.087046,NaN,7 May 2024,Bob Bobson
1010,hedgehog,Hungary,0.900,16.0,female,47.509860,18.939943,NaN,8 May 2024,Anne Anthony

In [10]:
data['Animal type'].unique()

array([nan, 'European bison', 'European bison™', 'European bisson',
       'European buster', 'lynx', 'lynx?', 'red squirel', 'red squirrel',
       'red squirrell', 'hedgehog', 'wedgehod', 'ledgehod'], dtype=object)

In [11]:
data['Animal type'] = data['Animal type'].replace({
    'European bison™': 'European bison',
    'European bisson': 'European bison',
    'European buster': 'European bison',
    'lynx?': 'lynx',
    'red squirel': 'red squirrel',
    'red squirell': 'red squirrel',
    'wedgehod': 'hedgehog',
    'ledgehod': 'hedgehog'
})
data['Animal type'] = data['Animal type'].str.strip().str.title()
data['Animal name'] = data['Animal name'].str.strip().str.title()

In [12]:
data

,Animal type,Country,Weight kg,Body Length cm,Gender,Latitude,Longitude,Animal name,Observation date,Data compiled by
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.01.2024,James Johnson
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03.02.2024,James Johnson
2,European Bison,Poland,930.000,335.0,male,52.828845,23.820144,Szefu,01.03.2024,Anne Anthony
3,European Bison,Poland,909.000,311.0,not determined,52.830509,23.826849,NaN,01.03.2024,Anne Anthony
4,European Bison,Poland,581.000,277.0,female,52.834109,23.807093,NaN,01.03.2024,Anne Anthony
...,...,...,...,...,...,...,...,...,...,...
1005,Hedgehog,Hungary,0.900,23.0,male,47.510055,18.944356,NaN,7 May 2024,Anne Anthony
1006,Red Squirrel,Poland,0.346,20.0,female,52.212001,21.033187,Lola,7 May 2024,Anne Anthony
1007,Hedgehog,Germany,1.000,23.0,female,49.561356,11.105334,NaN,7 May 2024,Bob Bobson
1008,Hedgehog,Germany,0.500,17.0,female,49.561569,11.087046,NaN,7 May 2024,Bob Bobson
1010,Hedgehog,Hungary,0.900,16.0,female,47.509860,18.939943,NaN,8 May 2024,Anne Anthony

In [13]:
data = data.dropna(subset=['Animal type'])

In [14]:
data.isna().sum()

Animal type           0
Country               0
Weight kg             9
Body Length cm        9
Gender                4
Latitude             73
Longitude            73
Animal name         787
Observation date      0
Data compiled by      0
dtype: int64

In [15]:
data = data.copy()

data['Gender'] = data['Gender'].replace('not determined', 'unknown')
data.loc[:, 'Gender'] = data['Gender'].fillna('unknown')
data.loc[:, 'Animal name'] = data['Animal name'].fillna('unknown')

In [16]:
data

,Animal type,Country,Weight kg,Body Length cm,Gender,Latitude,Longitude,Animal name,Observation date,Data compiled by
2,European Bison,Poland,930.000,335.0,male,52.828845,23.820144,Szefu,01.03.2024,Anne Anthony
3,European Bison,Poland,909.000,311.0,unknown,52.830509,23.826849,unknown,01.03.2024,Anne Anthony
4,European Bison,Poland,581.000,277.0,female,52.834109,23.807093,unknown,01.03.2024,Anne Anthony
5,European Bison,Poland,900.000,295.0,male,52.834759,23.817201,unknown,01.03.2024,Anne Anthony
6,European Bison,Poland,620.000,250.0,female,52.834960,23.820750,unknown,01.03.2024,Anne Anthony
...,...,...,...,...,...,...,...,...,...,...
1005,Hedgehog,Hungary,0.900,23.0,male,47.510055,18.944356,unknown,7 May 2024,Anne Anthony
1006,Red Squirrel,Poland,0.346,20.0,female,52.212001,21.033187,Lola,7 May 2024,Anne Anthony
1007,Hedgehog,Germany,1.000,23.0,female,49.561356,11.105334,unknown,7 May 2024,Bob Bobson
1008,Hedgehog,Germany,0.500,17.0,female,49.561569,11.087046,unknown,7 May 2024,Bob Bobson
1010,Hedgehog,Hungary,0.900,16.0,female,47.509860,18.939943,unknown,8 May 2024,Anne Anthony

In [17]:
data['Weight kg'] = data['Weight kg'].round(2)
data['Longitude'] = data['Longitude'].round(2)
data['Latitude'] = data['Latitude'].round(2)

In [18]:
data.describe()

         Weight kg  Body Length cm    Latitude   Longitude
count   816.000000      816.000000  752.000000  752.000000
mean     47.867353       42.933824   49.261011   17.641064
std     170.513705       63.682383    7.360092    3.977151
min      -0.250000      -19.000000  -78.580000   11.070000
25%       0.300000       19.000000   48.190000   14.350000
50%       0.400000       21.000000   49.060000   18.850000
75%       1.000000       23.000000   52.210000   21.030000
max    1100.000000      350.000000   52.850000   34.900000

In [19]:
numeric_cols = data.select_dtypes(include='number').columns
data[numeric_cols] = data[numeric_cols].abs()

In [20]:
data.dtypes

Animal type          object
Country              object
Weight kg           float64
Body Length cm      float64
Gender               object
Latitude            float64
Longitude           float64
Animal name          object
Observation date     object
Data compiled by     object
dtype: object

In [21]:
mask_dot = data['Observation date'].str.contains(r'\.', na=False)
data.loc[mask_dot, 'Observation date'] = pd.to_datetime(data.loc[mask_dot, 'Observation date'], format='%d.%m.%Y', errors='coerce')

mask_text = ~mask_dot
data.loc[mask_text, 'Observation date'] = pd.to_datetime(data.loc[mask_text, 'Observation date'], errors='coerce', dayfirst=True)

In [22]:
data.dtypes

Animal type          object
Country              object
Weight kg           float64
Body Length cm      float64
Gender               object
Latitude            float64
Longitude           float64
Animal name          object
Observation date     object
Data compiled by     object
dtype: object

In [23]:
data['Observation date'] = pd.to_datetime(data['Observation date'],format='%Y-%m-%d',errors='coerce')

In [24]:
data.dtypes

Animal type                 object
Country                     object
Weight kg                  float64
Body Length cm             float64
Gender                      object
Latitude                   float64
Longitude                  float64
Animal name                 object
Observation date    datetime64[ns]
Data compiled by            object
dtype: object

In [25]:
data

,Animal type,Country,Weight kg,Body Length cm,Gender,Latitude,Longitude,Animal name,Observation date,Data compiled by
2,European Bison,Poland,930.00,335.0,male,52.83,23.82,Szefu,2024-03-01,Anne Anthony
3,European Bison,Poland,909.00,311.0,unknown,52.83,23.83,unknown,2024-03-01,Anne Anthony
4,European Bison,Poland,581.00,277.0,female,52.83,23.81,unknown,2024-03-01,Anne Anthony
5,European Bison,Poland,900.00,295.0,male,52.83,23.82,unknown,2024-03-01,Anne Anthony
6,European Bison,Poland,620.00,250.0,female,52.83,23.82,unknown,2024-03-01,Anne Anthony
...,...,...,...,...,...,...,...,...,...,...
1005,Hedgehog,Hungary,0.90,23.0,male,47.51,18.94,unknown,2024-05-07,Anne Anthony
1006,Red Squirrel,Poland,0.35,20.0,female,52.21,21.03,Lola,2024-05-07,Anne Anthony
1007,Hedgehog,Germany,1.00,23.0,female,49.56,11.11,unknown,2024-05-07,Bob Bobson
1008,Hedgehog,Germany,0.50,17.0,female,49.56,11.09,unknown,2024-05-07,Bob Bobson
1010,Hedgehog,Hungary,0.90,16.0,female,47.51,18.94,unknown,2024-05-08,Anne Anthony

In [26]:
data.to_csv('clean_data_animal.csv', index=False)